<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	    <title>Freddy's BBQ Joint Administration Portal</title>
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	</head>
	<body>
		<h1 th:text="|Hi ${username}! Welcome to Freddy's BBQ Joint Administration Portal|">Welcome to Freddy's BBQ Joint Administration Portal</h1>
		<h2>What do you want to do?</h2>
		<ul>
			<li>
				<a href="/menuItems/">View and edit the menu</a>
			</li>
            <li>
              <a href="/orders/">View and close orders</a>
            </li>
            <li>
              <a href="/dump_token">View your access token</a>
            </li>
		</ul>		
	</body>
</html>