<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Freddy's Menu</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
  <h1>Freddy's Menu</h1>

  <table border="1">
    <thead>
      <tr>
        <td>Item</td><td>Price</td><td>Action</td>
      </tr>
    </thead>
    <tbody>
      <tr th:each="item : ${menu}">
        <td th:text="${item.name}">Something</td><td th:text="${item.price}">$1.00</td><td><a th:href="|${item.id}/|" href="#">Edit</a></td>
      </tr>
    </tbody>
  </table>
  <a href="new/">Add a new Item</a><br/>
  <a href="/">Back to home</a>
</body>
</html>